@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}
.sidebar .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transform: scale(1.02);
    transition: all 0.2s ease-in-out;
}
.sidebar-brand-icon:hover img {
    transform: rotate(15deg);
}
